LinkLift/trunk/Codeclimber.Control.LinkLift/textlinks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ll_data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="adspace">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="link">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="url" type="xs:string" />
										<xs:element name="text" type="xs:string" />
										<xs:element name="prefix" />
										<xs:element name="postfix" />
										<xs:element name="rss_url" />
										<xs:element name="rss_text" />
										<xs:element name="rss_prefix" />
										<xs:element name="rss_postfix" />
										<xs:element name="nofollow" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>